<section class="contact bg-light pt-5 text-center">
    <div style="background-color: rgb(147, 213, 243);">
   <div class="container">
        
         <div class="row py-3">
              <div class="col-lg-7 mx-auto">
                <input type="text" placeholder="Enter Email Address" name="">
                <button class="btn4 my-5">
                  GET NOTIFIED
                </button>
                <p>@Copyright 2021 Akacademy All Rights Reserved!</p>
                
              </div>
              
            </div>
        </div>
    
     
   </div>
 </section>

